<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>

        <defaultDocument enabled="true">
            <files>
                <add value="index.js" />
            </files>
        </defaultDocument>

        <rewrite>
            <rules>
                <rule name="socket.io">
                    <match url="socket\.io/(.*)" />
                    <serverVariables>
                        <set name="HTTP_CONNECTION" value="Upgrade" />
                    </serverVariables>
                    <action type="Rewrite" url="index.js"/>
                </rule>
            </rules>
        </rewrite>

        <webSocket enabled="false" />

        <iisnode promoteServerVars="AUTH_USER" />
    </system.webServer>
</configuration>
