<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="webserver">
                    <match url="webserver.dll(.*)" />
                    <action type="Rewrite" url="webserver/index.js"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
